<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the allegati_PA_init() hook (in hooks/allegati_PA.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="allegati_PA-momeAlleg_PA-<%%VALUE(id)%%>" class="allegati_PA-momeAlleg_PA"><%%SELECT%%><%%VALUE(momeAlleg_PA)%%><%%ENDSELECT%%></td>
		<td id="allegati_PA-file-<%%VALUE(id)%%>" class="allegati_PA-file"><a href="link.php?t=allegati_PA&f=file&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(file)%%>" class="btn btn-default"><i class="glyphicon glyphicon-picture text-info"></i></a></td>
		<td id="allegati_PA-algoritmoComp_PA-<%%VALUE(id)%%>" class="allegati_PA-algoritmoComp_PA"><%%SELECT%%><%%VALUE(algoritmoComp_PA)%%><%%ENDSELECT%%></td>
		<td id="allegati_PA-thumbUse-<%%VALUE(id)%%>" class="allegati_PA-thumbUse text-right"><%%SELECT%%><%%VALUE(thumbUse)%%><%%ENDSELECT%%></td>
		<td id="allegati_PA-formatoAlleg_PA-<%%VALUE(id)%%>" class="allegati_PA-formatoAlleg_PA"><%%SELECT%%><%%VALUE(formatoAlleg_PA)%%><%%ENDSELECT%%></td>
		<td id="allegati_PA-descrizAlleg_PA-<%%VALUE(id)%%>" class="allegati_PA-descrizAlleg_PA"><%%SELECT%%><%%VALUE(descrizAlleg_PA)%%><%%ENDSELECT%%></td>
		<script>$j(function(){
			var e_file = '<%%VALUE(file)%%>'; if(e_file == '' || e_file == '&nbsp;') $j(/*<*/ '#allegati_PA-file-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
