<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="CLIENTI_CESSIONARI_PA_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<input type="hidden" id="orders_hclink" value="orders_view.php?filterer_employee=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="firstCashNote_view.php?filterer_customer=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="firstCashNote_link"><i class="glyphicon glyphicon-list-alt"></i> Prima Nota</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="firstCashNote_view.php?filterer_customer=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_firstCashNote_link"><i class="glyphicon glyphicon-list-alt"></i> Prima Nota</a>
			<input type="hidden" id="firstCashNote_hclink" value="firstCashNote_view.php?filterer_customer=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="electronicInvoice_hclink" value="electronicInvoice_view.php?filterer_idPaeseCess_PA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="attributes_hclink" value="attributes_view.php?filterer_contact=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="addresses_PA_hclink" value="addresses_PA_view.php?filterer_contact=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="phones_hclink" value="phones_view.php?filterer_contact=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="PEC_hclink" value="PEC_view.php?filterer_contact=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="contacts_companies_hclink" value="contacts_companies_view.php?filterer_contact=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="allegati_PA_hclink" value="allegati_PA_view.php?filterer_contact=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="CLIENTI_CESSIONARI_PA_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="kind" class="control-label col-lg-3" data-parent_link="view_parent_modal">Kind</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(kind)%%><%%PLINK(kind)%%><%%ADDNEW(kinds)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="idPaese_Ces_PA" class="control-label col-lg-3" data-parent_link="view_parent_modal">IdPaese_Cessionario PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#idPaese_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="idPaese_Ces_PA-description"><div class="alert alert-info">1.4.1.1.1 <IdPaese> codice della nazione espresso secondo lo standard ISO 3166-1 alpha-2 code<br>[IT], [ES], [DK],[&#8230;] <br></div></span>

						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(idPaese_Ces_PA)%%><%%PLINK(idPaese_Ces_PA)%%><%%ADDNEW(countries)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="idCodice_Ces_PA" class="control-label col-lg-3">IdCodice Ces PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#idCodice_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="idCodice_Ces_PA-description"><div class="alert alert-info">1.4.1.1.2 <IdCodice> codice identificativo fiscale </div></span>

						<input maxlength="28" type="text" class="form-control" name="idCodice_Ces_PA" id="idCodice_Ces_PA" value="<%%VALUE(idCodice_Ces_PA)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="codiceFiscale_Ces_PA" class="control-label col-lg-3">CodiceFiscale Ces PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#codiceFiscale_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="codiceFiscale_Ces_PA-description"><div class="alert alert-info">1.4.1.2 <CodiceFiscale> numero di Codice Fiscale</div></span>

						<input maxlength="16" type="text" class="form-control" name="codiceFiscale_Ces_PA" id="codiceFiscale_Ces_PA" value="<%%VALUE(codiceFiscale_Ces_PA)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Denominazione_Ces_PA" class="control-label col-lg-3">Denominazione Cessionario PA <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Denominazione_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Denominazione_Ces_PA-description"><div class="alert alert-info">1.4.1.3 <Anagrafica>dati anagrafici identificativi del cessionario/committente;<br>1.4.1.3.1 <Denominazione> ditta, denominazione o ragione sociale (ditta, impresa, societ&#224;, ente), da valorizzare in alternativa ai campi 1.4.1.3.2 e 1.4.1.3.3 </div></span>

						<input maxlength="80" type="text" class="form-control" name="Denominazione_Ces_PA" id="Denominazione_Ces_PA" value="<%%VALUE(Denominazione_Ces_PA)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="tit_Ces_PA" class="control-label col-lg-3">Titolo Cessionario PA <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#tit_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="tit_Ces_PA-description"><div class="alert alert-info">1.4.1.3.4 <Titolo> titolo onorifico</div></span>

						<input maxlength="10" type="text" class="form-control" name="tit_Ces_PA" id="tit_Ces_PA" value="<%%VALUE(tit_Ces_PA)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="nome_Ces_PA" class="control-label col-lg-3">Nome Cessionario PA <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#nome_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="nome_Ces_PA-description"><div class="alert alert-info">1.4.1.3.2 <Nome> nome della persona fisica. Da valorizzare insieme al campo 1.4.1.3.3 ed in alternativa al campo 1.4.1.3.1 </div></span>

						<input maxlength="60" type="text" class="form-control" name="nome_Ces_PA" id="nome_Ces_PA" value="<%%VALUE(nome_Ces_PA)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="cogn_Ces_PA" class="control-label col-lg-3">Cognome Cessionario PA <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#cogn_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="cogn_Ces_PA-description"><div class="alert alert-info">1.4.1.3.3 <Cognome> cognome della persona fisica. Da valorizzare insieme al campo 1.4.1.3.2 ed in alternativa al campo 1.4.1.3.1 </div></span>

						<input maxlength="60" type="text" class="form-control" name="cogn_Ces_PA" id="cogn_Ces_PA" value="<%%VALUE(cogn_Ces_PA)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="indirizzo_Ces_PA" class="control-label col-lg-3">Indirizzo Ces. PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#indirizzo_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="indirizzo_Ces_PA-description"><div class="alert alert-info">1.4.2 <Sede>blocco sempre obbligatorio contenente i dati della sede del cessionario / committente (nel caso di somministrazione di servizi quali<br>energia elettrica, gas &#8230; , i dati possono fare riferimento all'ubicazione dell'utenza, ex DM 370/2000);<br>1.4.2.1 <Indirizzo>indirizzo della sede del cessionario / committente (nome della via, piazza etc.) </div></span>

						<input maxlength="60" type="text" class="form-control" name="indirizzo_Ces_PA" id="indirizzo_Ces_PA" value="<%%VALUE(indirizzo_Ces_PA)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="numeroCiv_CesPA" class="control-label col-lg-3">Numero Civico Ces. PA <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#numeroCiv_CesPA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="numeroCiv_CesPA-description"><div class="alert alert-info">1.4.2.2 <NumeroCivico>numero civico riferito all'indirizzo (non indicare se gi&#224; presente nel campo indirizzo)</div></span>

						<input maxlength="8" type="text" class="form-control" name="numeroCiv_CesPA" id="numeroCiv_CesPA" value="<%%VALUE(numeroCiv_CesPA)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="CAP_Ces_PA" class="control-label col-lg-3">CAP Ces. PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#CAP_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="CAP_Ces_PA-description"><div class="alert alert-info">1.4.2.3 <CAP>Codice Avviamento Postale </div></span>

						<input maxlength="5" type="text" class="form-control" name="CAP_Ces_PA" id="CAP_Ces_PA" value="<%%VALUE(CAP_Ces_PA)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="comune_Ces_PA" class="control-label col-lg-3">Comune Ces. PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#comune_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="comune_Ces_PA-description"><div class="alert alert-info">1.4.2.4 <Comune>comune relativo alla stabile organizzazione in Italia</div></span>

						<input maxlength="60" type="text" class="form-control" name="comune_Ces_PA" id="comune_Ces_PA" value="<%%VALUE(comune_Ces_PA)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="pr_Ces_PA" class="control-label col-lg-3" data-parent_link="view_parent_modal">Provincia Ces. PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#pr_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="pr_Ces_PA-description"><div class="alert alert-info">1.4.2.5 <Provincia>sigla della provincia di appartenenza del comune indicato nel campo 1.4.2.4 </div></span>

						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(pr_Ces_PA)%%><%%PLINK(pr_Ces_PA)%%><%%ADDNEW(town)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="nazione_Ces_PA" class="control-label col-lg-3">Nazione Ces. PA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#nazione_Ces_PA-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="nazione_Ces_PA-description"><div class="alert alert-info">1.4.2.6 <Nazione>codice della nazione espresso secondo lo standard ISO 3166-1 alpha-2 code [IT], [ES], [DK],[&#8230;] </div></span>

						<%%COMBO(nazione_Ces_PA)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="notes" class="control-label col-lg-3">Notes</label>
					<div class="col-lg-9">
						<%%HTMLAREA(notes)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="birthDate" class="control-label col-lg-3">Birth Date</label>
					<div class="col-lg-9">
						<%%COMBO(birthDate)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="autorizzSanitaria_SAM" class="control-label col-lg-3">Autorizzazione Sanitaria SAM <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#autorizzSanitaria_SAM-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="autorizzSanitaria_SAM-description"><div class="alert alert-info">Autorizzazione sanitaria rilasciata al cliente.</div></span>

						<input maxlength="255" type="text" class="form-control" name="autorizzSanitaria_SAM" id="autorizzSanitaria_SAM" value="<%%VALUE(autorizzSanitaria_SAM)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="AutSanEmessa_SAM" class="control-label col-lg-3">AutSanEmessa SAM <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#AutSanEmessa_SAM-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="AutSanEmessa_SAM-description"><div class="alert alert-info">Ente erogante autorizzazione</div></span>

						<input maxlength="255" type="text" class="form-control" name="AutSanEmessa_SAM" id="AutSanEmessa_SAM" value="<%%VALUE(AutSanEmessa_SAM)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="NrPresSan_SAM" class="control-label col-lg-3">NrPresSan SAM</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="NrPresSan_SAM" id="NrPresSan_SAM" value="<%%VALUE(NrPresSan_SAM)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="NrAutSan_SAM" class="control-label col-lg-3">NrAutSan SAM</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="NrAutSan_SAM" id="NrAutSan_SAM" value="<%%VALUE(NrAutSan_SAM)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="dataAutSan_SAM" class="control-label col-lg-3">DataAutSan SAM <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#dataAutSan_SAM-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="dataAutSan_SAM-description"><div class="alert alert-info">Data Rilascio Autorizzazione Sanitaria</div></span>

						<%%COMBO(dataAutSan_SAM)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="CLIENTI_CESSIONARI_PA_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="CLIENTI_CESSIONARI_PA-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script src="nicEdit.js"></script>
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(AppGini.closeParentModal, 2000);
			}

			bkLib.onDomLoaded(function(){
				if($j('textarea#notes').length) new nicEditor({ fullPanel : true }).panelInstance('notes');

				$j('.nicEdit-panelContain').parent().width('100%');
				$j('.nicEdit-panelContain').parent().next().width('98%');
				$j('.nicEdit-main').width('99%');
			});
			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!(embedded_mode && AppGini.mobileDevice())){
				$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			}

			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ /* */ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'CLIENTI_CESSIONARI_PA',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'CLIENTI_CESSIONARI_PA-children'
				);
			}

			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != ''){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode){
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=CLIENTI_CESSIONARI_PA&id=<%%URLVALUE(id)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=CLIENTI_CESSIONARI_PA&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function(){
				if($j('#deselect.btn-warning').length){
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>