<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CLIENTI_CESSIONARI_PA_init() hook (in hooks/CLIENTI_CESSIONARI_PA.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CLIENTI_CESSIONARI_PA-kind-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-kind"><%%VALUE(kind)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-idPaese_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-idPaese_Ces_PA"><%%VALUE(idPaese_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-idCodice_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-idCodice_Ces_PA"><%%VALUE(idCodice_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-codiceFiscale_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-codiceFiscale_Ces_PA"><%%VALUE(codiceFiscale_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-Denominazione_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-Denominazione_Ces_PA"><%%VALUE(Denominazione_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-tit_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-tit_Ces_PA"><%%VALUE(tit_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-nome_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-nome_Ces_PA"><%%VALUE(nome_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-cogn_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-cogn_Ces_PA"><%%VALUE(cogn_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-indirizzo_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-indirizzo_Ces_PA"><%%VALUE(indirizzo_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-numeroCiv_CesPA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-numeroCiv_CesPA"><%%VALUE(numeroCiv_CesPA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-CAP_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-CAP_Ces_PA"><%%VALUE(CAP_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-comune_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-comune_Ces_PA"><%%VALUE(comune_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-pr_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-pr_Ces_PA"><%%VALUE(pr_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-nazione_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-nazione_Ces_PA"><%%VALUE(nazione_Ces_PA)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-notes-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-notes"><%%VALUE(notes)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-birthDate-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-birthDate"><%%VALUE(birthDate)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-autorizzSanitaria_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-autorizzSanitaria_SAM"><%%VALUE(autorizzSanitaria_SAM)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-AutSanEmessa_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-AutSanEmessa_SAM"><%%VALUE(AutSanEmessa_SAM)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-NrPresSan_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-NrPresSan_SAM"><%%VALUE(NrPresSan_SAM)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-NrAutSan_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-NrAutSan_SAM"><%%VALUE(NrAutSan_SAM)%%></td>
		<td id="CLIENTI_CESSIONARI_PA-dataAutSan_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-dataAutSan_SAM"><%%VALUE(dataAutSan_SAM)%%></td>
