<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CLIENTI_CESSIONARI_PA_init() hook (in hooks/CLIENTI_CESSIONARI_PA.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CLIENTI_CESSIONARI_PA-kind-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-kind"><%%SELECT%%><%%VALUE(kind)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-idPaese_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-idPaese_Ces_PA"><%%SELECT%%><%%VALUE(idPaese_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-idCodice_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-idCodice_Ces_PA"><%%SELECT%%><%%VALUE(idCodice_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-codiceFiscale_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-codiceFiscale_Ces_PA"><%%SELECT%%><%%VALUE(codiceFiscale_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-Denominazione_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-Denominazione_Ces_PA"><%%SELECT%%><%%VALUE(Denominazione_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-tit_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-tit_Ces_PA"><%%SELECT%%><%%VALUE(tit_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-nome_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-nome_Ces_PA"><%%SELECT%%><%%VALUE(nome_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-cogn_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-cogn_Ces_PA"><%%SELECT%%><%%VALUE(cogn_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-indirizzo_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-indirizzo_Ces_PA"><%%SELECT%%><%%VALUE(indirizzo_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-numeroCiv_CesPA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-numeroCiv_CesPA"><%%SELECT%%><%%VALUE(numeroCiv_CesPA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-CAP_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-CAP_Ces_PA"><%%SELECT%%><%%VALUE(CAP_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-comune_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-comune_Ces_PA"><%%SELECT%%><%%VALUE(comune_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-pr_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-pr_Ces_PA"><%%SELECT%%><%%VALUE(pr_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-nazione_Ces_PA-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-nazione_Ces_PA"><%%SELECT%%><%%VALUE(nazione_Ces_PA)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-notes-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-birthDate-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-birthDate"><%%SELECT%%><%%VALUE(birthDate)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-autorizzSanitaria_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-autorizzSanitaria_SAM"><%%SELECT%%><%%VALUE(autorizzSanitaria_SAM)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-AutSanEmessa_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-AutSanEmessa_SAM"><%%SELECT%%><%%VALUE(AutSanEmessa_SAM)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-NrPresSan_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-NrPresSan_SAM"><%%SELECT%%><%%VALUE(NrPresSan_SAM)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-NrAutSan_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-NrAutSan_SAM"><%%SELECT%%><%%VALUE(NrAutSan_SAM)%%><%%ENDSELECT%%></td>
		<td id="CLIENTI_CESSIONARI_PA-dataAutSan_SAM-<%%VALUE(id)%%>" class="CLIENTI_CESSIONARI_PA-dataAutSan_SAM"><%%SELECT%%><%%VALUE(dataAutSan_SAM)%%><%%ENDSELECT%%></td>
