<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the companies_init() hook (in hooks/companies.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="companies-kind-<%%VALUE(id)%%>" class="companies-kind"><%%SELECT%%><%%VALUE(kind)%%><%%ENDSELECT%%></td>
		<td id="companies-companyCode-<%%VALUE(id)%%>" class="companies-companyCode"><%%SELECT%%><%%VALUE(companyCode)%%><%%ENDSELECT%%></td>
		<td id="companies-companyName-<%%VALUE(id)%%>" class="companies-companyName"><%%SELECT%%><%%VALUE(companyName)%%><%%ENDSELECT%%></td>
		<td id="companies-notes-<%%VALUE(id)%%>" class="companies-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
		<td id="companies-idPaese_Ced_PA-<%%VALUE(id)%%>" class="companies-idPaese_Ced_PA"><%%SELECT%%><%%VALUE(idPaese_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-idCodice_Ced_PA-<%%VALUE(id)%%>" class="companies-idCodice_Ced_PA"><%%SELECT%%><%%VALUE(idCodice_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-codiceFiscale_Ced_PA-<%%VALUE(id)%%>" class="companies-codiceFiscale_Ced_PA"><%%SELECT%%><%%VALUE(codiceFiscale_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-denominazione_Ced_PA-<%%VALUE(id)%%>" class="companies-denominazione_Ced_PA"><%%SELECT%%><%%VALUE(denominazione_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-titolo_Ced_PA-<%%VALUE(id)%%>" class="companies-titolo_Ced_PA"><%%SELECT%%><%%VALUE(titolo_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-nome_Ced_PA-<%%VALUE(id)%%>" class="companies-nome_Ced_PA"><%%SELECT%%><%%VALUE(nome_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-cognome_Ced_PA-<%%VALUE(id)%%>" class="companies-cognome_Ced_PA"><%%SELECT%%><%%VALUE(cognome_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-regimeFiscalePA-<%%VALUE(id)%%>" class="companies-regimeFiscalePA"><%%SELECT%%><%%VALUE(regimeFiscalePA)%%><%%ENDSELECT%%></td>
		<td id="companies-idPaeseVett_PA-<%%VALUE(id)%%>" class="companies-idPaeseVett_PA"><%%SELECT%%><%%VALUE(idPaeseVett_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-idFiscaleVet_PA-<%%VALUE(id)%%>" class="companies-idFiscaleVet_PA"><%%SELECT%%><%%VALUE(idFiscaleVet_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-codFiscVet_PA-<%%VALUE(id)%%>" class="companies-codFiscVet_PA"><%%SELECT%%><%%VALUE(codFiscVet_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-denominazioneVet_PA-<%%VALUE(id)%%>" class="companies-denominazioneVet_PA"><%%SELECT%%><%%VALUE(denominazioneVet_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-titoloVet_PA-<%%VALUE(id)%%>" class="companies-titoloVet_PA"><%%SELECT%%><%%VALUE(titoloVet_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-nomeVet_PA-<%%VALUE(id)%%>" class="companies-nomeVet_PA"><%%SELECT%%><%%VALUE(nomeVet_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-cognomeVett_PA-<%%VALUE(id)%%>" class="companies-cognomeVett_PA"><%%SELECT%%><%%VALUE(cognomeVett_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-data_DatiVeic_PA-<%%VALUE(id)%%>" class="companies-data_DatiVeic_PA"><%%SELECT%%><%%VALUE(data_DatiVeic_PA)%%><%%ENDSELECT%%></td>
		<td id="companies-mezzoTrVet_PA-<%%VALUE(id)%%>" class="companies-mezzoTrVet_PA"><%%SELECT%%><%%VALUE(mezzoTrVet_PA)%%><%%ENDSELECT%%></td>
