<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the contacts_companies_init() hook (in hooks/contacts_companies.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="contacts_companies-contact-<%%VALUE(id)%%>" class="contacts_companies-contact"><%%VALUE(contact)%%></td>
		<td id="contacts_companies-company-<%%VALUE(id)%%>" class="contacts_companies-company"><%%VALUE(company)%%></td>
		<td id="contacts_companies-default-<%%VALUE(id)%%>" class="contacts_companies-default"><%%VALUE(default)%%></td>
		<td id="contacts_companies-telefonoCompanyPA-<%%VALUE(id)%%>" class="contacts_companies-telefonoCompanyPA"><%%VALUE(telefonoCompanyPA)%%></td>
		<td id="contacts_companies-faxCompanyPA-<%%VALUE(id)%%>" class="contacts_companies-faxCompanyPA"><%%VALUE(faxCompanyPA)%%></td>
		<td id="contacts_companies-eMailCompanyPA-<%%VALUE(id)%%>" class="contacts_companies-eMailCompanyPA"><%%VALUE(eMailCompanyPA)%%></td>
		<td id="contacts_companies-riferimentoAmministrazionePA-<%%VALUE(id)%%>" class="contacts_companies-riferimentoAmministrazionePA"><%%VALUE(riferimentoAmministrazionePA)%%></td>
