<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the electronicInvoice_init() hook (in hooks/electronicInvoice.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="electronicInvoice-idPaese_TR_PA-<%%VALUE(id)%%>" class="electronicInvoice-idPaese_TR_PA"><%%VALUE(idPaese_TR_PA)%%></td>
		<td id="electronicInvoice-idCodice_TR_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCodice_TR_PA"><%%VALUE(idCodice_TR_PA)%%></td>
		<td id="electronicInvoice-progressivoInvioPA-<%%VALUE(id)%%>" class="electronicInvoice-progressivoInvioPA"><%%VALUE(progressivoInvioPA)%%></td>
		<td id="electronicInvoice-formatoTrasmissionePA-<%%VALUE(id)%%>" class="electronicInvoice-formatoTrasmissionePA"><%%VALUE(formatoTrasmissionePA)%%></td>
		<td id="electronicInvoice-codiceDestinatarioPA-<%%VALUE(id)%%>" class="electronicInvoice-codiceDestinatarioPA"><%%VALUE(codiceDestinatarioPA)%%></td>
		<td id="electronicInvoice-telefonoPA-<%%VALUE(id)%%>" class="electronicInvoice-telefonoPA"><%%VALUE(telefonoPA)%%></td>
		<td id="electronicInvoice-emailPA-<%%VALUE(id)%%>" class="electronicInvoice-emailPA"><%%VALUE(emailPA)%%></td>
		<td id="electronicInvoice-idFiscaleIVA_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-idFiscaleIVA_Ced_PA"><%%VALUE(idFiscaleIVA_Ced_PA)%%></td>
		<td id="electronicInvoice-codiceFiscale_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-codiceFiscale_Ced_PA"><%%VALUE(codiceFiscale_Ced_PA)%%></td>
		<td id="electronicInvoice-denominazione_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-denominazione_Ced_PA"><%%VALUE(denominazione_Ced_PA)%%></td>
		<td id="electronicInvoice-nome_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-nome_Ced_PA"><%%VALUE(nome_Ced_PA)%%></td>
		<td id="electronicInvoice-cognome_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-cognome_Ced_PA"><%%VALUE(cognome_Ced_PA)%%></td>
		<td id="electronicInvoice-titolo_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-titolo_Ced_PA"><%%VALUE(titolo_Ced_PA)%%></td>
		<td id="electronicInvoice-codEORI_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-codEORI_Ced_PA"><%%VALUE(codEORI_Ced_PA)%%></td>
		<td id="electronicInvoice-alboProfessionale_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-alboProfessionale_Ced_PA"><%%VALUE(alboProfessionale_Ced_PA)%%></td>
		<td id="electronicInvoice-provinciaAlbo_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-provinciaAlbo_Ced_PA"><%%VALUE(provinciaAlbo_Ced_PA)%%></td>
		<td id="electronicInvoice-nrIscrizioneAlbo_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-nrIscrizioneAlbo_Ced_PA"><%%VALUE(nrIscrizioneAlbo_Ced_PA)%%></td>
		<td id="electronicInvoice-dataIscAlbo_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataIscAlbo_Ced_PA"><%%VALUE(dataIscAlbo_Ced_PA)%%></td>
		<td id="electronicInvoice-regimeFiscale_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-regimeFiscale_Ced_PA"><%%VALUE(regimeFiscale_Ced_PA)%%></td>
		<td id="electronicInvoice-indirizzo_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-indirizzo_Ced_PA"><%%VALUE(indirizzo_Ced_PA)%%></td>
		<td id="electronicInvoice-numeroCivico_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-numeroCivico_Ced_PA"><%%VALUE(numeroCivico_Ced_PA)%%></td>
		<td id="electronicInvoice-CAP_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-CAP_Ced_PA"><%%VALUE(CAP_Ced_PA)%%></td>
		<td id="electronicInvoice-comune_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-comune_Ced_PA"><%%VALUE(comune_Ced_PA)%%></td>
		<td id="electronicInvoice-provincia_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-provincia_Ced_PA"><%%VALUE(provincia_Ced_PA)%%></td>
		<td id="electronicInvoice-nazione_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-nazione_Ced_PA"><%%VALUE(nazione_Ced_PA)%%></td>
		<td id="electronicInvoice-altroIndirizzo_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-altroIndirizzo_Ced_PA"><%%VALUE(altroIndirizzo_Ced_PA)%%></td>
		<td id="electronicInvoice-altro_nr_Civico_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-altro_nr_Civico_Ced_PA"><%%VALUE(altro_nr_Civico_Ced_PA)%%></td>
		<td id="electronicInvoice-altroCAP_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-altroCAP_Ced_PA"><%%VALUE(altroCAP_Ced_PA)%%></td>
		<td id="electronicInvoice-altro_Com_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-altro_Com_Ced_PA"><%%VALUE(altro_Com_Ced_PA)%%></td>
		<td id="electronicInvoice-altro_PR_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-altro_PR_Ced_PA"><%%VALUE(altro_PR_Ced_PA)%%></td>
		<td id="electronicInvoice-altraNazione_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-altraNazione_Ced_PA"><%%VALUE(altraNazione_Ced_PA)%%></td>
		<td id="electronicInvoice-ufficio_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-ufficio_Ced_PA"><%%VALUE(ufficio_Ced_PA)%%></td>
		<td id="electronicInvoice-numeroREA_Ced__PA-<%%VALUE(id)%%>" class="electronicInvoice-numeroREA_Ced__PA"><%%VALUE(numeroREA_Ced__PA)%%></td>
		<td id="electronicInvoice-capitaleSociale_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-capitaleSociale_Ced_PA"><%%VALUE(capitaleSociale_Ced_PA)%%></td>
		<td id="electronicInvoice-socioUnico_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-socioUnico_Ced_PA"><%%VALUE(socioUnico_Ced_PA)%%></td>
		<td id="electronicInvoice-statoLiquidazione_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-statoLiquidazione_Ced_PA"><%%VALUE(statoLiquidazione_Ced_PA)%%></td>
		<td id="electronicInvoice-telefonoCompany_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-telefonoCompany_Ced_PA"><%%VALUE(telefonoCompany_Ced_PA)%%></td>
		<td id="electronicInvoice-faxCompany_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-faxCompany_Ced_PA"><%%VALUE(faxCompany_Ced_PA)%%></td>
		<td id="electronicInvoice-eMailCompany_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-eMailCompany_Ced_PA"><%%VALUE(eMailCompany_Ced_PA)%%></td>
		<td id="electronicInvoice-rif_Amm_Ced_PA-<%%VALUE(id)%%>" class="electronicInvoice-rif_Amm_Ced_PA"><%%VALUE(rif_Amm_Ced_PA)%%></td>
		<td id="electronicInvoice-idPaeseRap_Fisc_PA-<%%VALUE(id)%%>" class="electronicInvoice-idPaeseRap_Fisc_PA"><%%VALUE(idPaeseRap_Fisc_PA)%%></td>
		<td id="electronicInvoice-idPaeseRap_CodPA-<%%VALUE(id)%%>" class="electronicInvoice-idPaeseRap_CodPA"><%%VALUE(idPaeseRap_CodPA)%%></td>
		<td id="electronicInvoice-idCodFiscRap_Fisc_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCodFiscRap_Fisc_PA"><%%VALUE(idCodFiscRap_Fisc_PA)%%></td>
		<td id="electronicInvoice-idDenominazioneRap_FiscPA-<%%VALUE(id)%%>" class="electronicInvoice-idDenominazioneRap_FiscPA"><%%VALUE(idDenominazioneRap_FiscPA)%%></td>
		<td id="electronicInvoice-idNomeRap_Fisc_PA-<%%VALUE(id)%%>" class="electronicInvoice-idNomeRap_Fisc_PA"><%%VALUE(idNomeRap_Fisc_PA)%%></td>
		<td id="electronicInvoice-idCognRap_Fisc_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCognRap_Fisc_PA"><%%VALUE(idCognRap_Fisc_PA)%%></td>
		<td id="electronicInvoice-idTitoloRap_Fisc_PA-<%%VALUE(id)%%>" class="electronicInvoice-idTitoloRap_Fisc_PA"><%%VALUE(idTitoloRap_Fisc_PA)%%></td>
		<td id="electronicInvoice-idEORI_Rap_Fisc_PA-<%%VALUE(id)%%>" class="electronicInvoice-idEORI_Rap_Fisc_PA"><%%VALUE(idEORI_Rap_Fisc_PA)%%></td>
		<td id="electronicInvoice-idPaeseCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-idPaeseCess_PA"><%%VALUE(idPaeseCess_PA)%%></td>
		<td id="electronicInvoice-idCodiceCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCodiceCess_PA"><%%VALUE(idCodiceCess_PA)%%></td>
		<td id="electronicInvoice-idCodiceFiscCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCodiceFiscCess_PA"><%%VALUE(idCodiceFiscCess_PA)%%></td>
		<td id="electronicInvoice-denominazioneCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-denominazioneCess_PA"><%%VALUE(denominazioneCess_PA)%%></td>
		<td id="electronicInvoice-nomeCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-nomeCess_PA"><%%VALUE(nomeCess_PA)%%></td>
		<td id="electronicInvoice-cognomeCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-cognomeCess_PA"><%%VALUE(cognomeCess_PA)%%></td>
		<td id="electronicInvoice-titoloCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-titoloCess_PA"><%%VALUE(titoloCess_PA)%%></td>
		<td id="electronicInvoice-codEORI_Cess_PA-<%%VALUE(id)%%>" class="electronicInvoice-codEORI_Cess_PA"><%%VALUE(codEORI_Cess_PA)%%></td>
		<td id="electronicInvoice-indirizzoCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-indirizzoCess_PA"><%%VALUE(indirizzoCess_PA)%%></td>
		<td id="electronicInvoice-nrCivicoCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-nrCivicoCess_PA"><%%VALUE(nrCivicoCess_PA)%%></td>
		<td id="electronicInvoice-CAP_Cess_PA-<%%VALUE(id)%%>" class="electronicInvoice-CAP_Cess_PA"><%%VALUE(CAP_Cess_PA)%%></td>
		<td id="electronicInvoice-comuneCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-comuneCess_PA"><%%VALUE(comuneCess_PA)%%></td>
		<td id="electronicInvoice-provCess_PA-<%%VALUE(id)%%>" class="electronicInvoice-provCess_PA"><%%VALUE(provCess_PA)%%></td>
		<td id="electronicInvoice-nazione_Cess_PA-<%%VALUE(id)%%>" class="electronicInvoice-nazione_Cess_PA"><%%VALUE(nazione_Cess_PA)%%></td>
		<td id="electronicInvoice-idPaese3intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-idPaese3intSogEm_PA"><%%VALUE(idPaese3intSogEm_PA)%%></td>
		<td id="electronicInvoice-idCod_3intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCod_3intSogEm_PA"><%%VALUE(idCod_3intSogEm_PA)%%></td>
		<td id="electronicInvoice-codFisc_3intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-codFisc_3intSogEm_PA"><%%VALUE(codFisc_3intSogEm_PA)%%></td>
		<td id="electronicInvoice-denom_3intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-denom_3intSogEm_PA"><%%VALUE(denom_3intSogEm_PA)%%></td>
		<td id="electronicInvoice-nome_3_intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-nome_3_intSogEm_PA"><%%VALUE(nome_3_intSogEm_PA)%%></td>
		<td id="electronicInvoice-cogn_3_intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-cogn_3_intSogEm_PA"><%%VALUE(cogn_3_intSogEm_PA)%%></td>
		<td id="electronicInvoice-tit_3_IntSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-tit_3_IntSogEm_PA"><%%VALUE(tit_3_IntSogEm_PA)%%></td>
		<td id="electronicInvoice-codEORi_3_intSogEm_PA-<%%VALUE(id)%%>" class="electronicInvoice-codEORi_3_intSogEm_PA"><%%VALUE(codEORi_3_intSogEm_PA)%%></td>
		<td id="electronicInvoice-SoggettoEmittente_PA-<%%VALUE(id)%%>" class="electronicInvoice-SoggettoEmittente_PA"><%%VALUE(SoggettoEmittente_PA)%%></td>
		<td id="electronicInvoice-tipoDocumentoFEB_PA-<%%VALUE(id)%%>" class="electronicInvoice-tipoDocumentoFEB_PA"><%%VALUE(tipoDocumentoFEB_PA)%%></td>
		<td id="electronicInvoice-divisaFEB_PA-<%%VALUE(id)%%>" class="electronicInvoice-divisaFEB_PA"><%%VALUE(divisaFEB_PA)%%></td>
		<td id="electronicInvoice-dataFEB_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataFEB_PA"><%%VALUE(dataFEB_PA)%%></td>
		<td id="electronicInvoice-numeroFEB_PA-<%%VALUE(id)%%>" class="electronicInvoice-numeroFEB_PA"><%%VALUE(numeroFEB_PA)%%></td>
		<td id="electronicInvoice-tipoRiten_PA-<%%VALUE(id)%%>" class="electronicInvoice-tipoRiten_PA"><%%VALUE(tipoRiten_PA)%%></td>
		<td id="electronicInvoice-impRiten_PA-<%%VALUE(id)%%>" class="electronicInvoice-impRiten_PA"><%%VALUE(impRiten_PA)%%></td>
		<td id="electronicInvoice-aliqRiten_PA-<%%VALUE(id)%%>" class="electronicInvoice-aliqRiten_PA"><%%VALUE(aliqRiten_PA)%%></td>
		<td id="electronicInvoice-causPagRit_PA-<%%VALUE(id)%%>" class="electronicInvoice-causPagRit_PA"><%%VALUE(causPagRit_PA)%%></td>
		<td id="electronicInvoice-numBolloRit_PA-<%%VALUE(id)%%>" class="electronicInvoice-numBolloRit_PA"><%%VALUE(numBolloRit_PA)%%></td>
		<td id="electronicInvoice-impBolloRit_PA-<%%VALUE(id)%%>" class="electronicInvoice-impBolloRit_PA"><%%VALUE(impBolloRit_PA)%%></td>
		<td id="electronicInvoice-tipoCassaPrev_PA-<%%VALUE(id)%%>" class="electronicInvoice-tipoCassaPrev_PA"><%%VALUE(tipoCassaPrev_PA)%%></td>
		<td id="electronicInvoice-alCassaPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-alCassaPr_PA"><%%VALUE(alCassaPr_PA)%%></td>
		<td id="electronicInvoice-impContCassaPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-impContCassaPr_PA"><%%VALUE(impContCassaPr_PA)%%></td>
		<td id="electronicInvoice-imponCassaPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-imponCassaPr_PA"><%%VALUE(imponCassaPr_PA)%%></td>
		<td id="electronicInvoice-aliIVA_CassaPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-aliIVA_CassaPr_PA"><%%VALUE(aliIVA_CassaPr_PA)%%></td>
		<td id="electronicInvoice-ritCassaPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-ritCassaPr_PA"><%%VALUE(ritCassaPr_PA)%%></td>
		<td id="electronicInvoice-naturaCassaPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-naturaCassaPr_PA"><%%VALUE(naturaCassaPr_PA)%%></td>
		<td id="electronicInvoice-rifAmmCasPr_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifAmmCasPr_PA"><%%VALUE(rifAmmCasPr_PA)%%></td>
		<td id="electronicInvoice-tipoScMag_PA-<%%VALUE(id)%%>" class="electronicInvoice-tipoScMag_PA"><%%VALUE(tipoScMag_PA)%%></td>
		<td id="electronicInvoice-percScMag_PA-<%%VALUE(id)%%>" class="electronicInvoice-percScMag_PA"><%%VALUE(percScMag_PA)%%></td>
		<td id="electronicInvoice-impScMag_PA-<%%VALUE(id)%%>" class="electronicInvoice-impScMag_PA"><%%VALUE(impScMag_PA)%%></td>
		<td id="electronicInvoice-ImpTotDoc_PA-<%%VALUE(id)%%>" class="electronicInvoice-ImpTotDoc_PA"><%%VALUE(ImpTotDoc_PA)%%></td>
		<td id="electronicInvoice-arrotDoc_PA-<%%VALUE(id)%%>" class="electronicInvoice-arrotDoc_PA"><%%VALUE(arrotDoc_PA)%%></td>
		<td id="electronicInvoice-causale_Doc_PA-<%%VALUE(id)%%>" class="electronicInvoice-causale_Doc_PA"><%%VALUE(causale_Doc_PA)%%></td>
		<td id="electronicInvoice-art73_doc_PA-<%%VALUE(id)%%>" class="electronicInvoice-art73_doc_PA"><%%VALUE(art73_doc_PA)%%></td>
		<td id="electronicInvoice-rifNumLineaDoc_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifNumLineaDoc_PA"><%%VALUE(rifNumLineaDoc_PA)%%></td>
		<td id="electronicInvoice-idDocNum_PA-<%%VALUE(id)%%>" class="electronicInvoice-idDocNum_PA"><%%VALUE(idDocNum_PA)%%></td>
		<td id="electronicInvoice-dataOrder_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataOrder_PA"><%%VALUE(dataOrder_PA)%%></td>
		<td id="electronicInvoice-numItemDoc_PA-<%%VALUE(id)%%>" class="electronicInvoice-numItemDoc_PA"><%%VALUE(numItemDoc_PA)%%></td>
		<td id="electronicInvoice-codCommConvDoc_PA-<%%VALUE(id)%%>" class="electronicInvoice-codCommConvDoc_PA"><%%VALUE(codCommConvDoc_PA)%%></td>
		<td id="electronicInvoice-codCUP_PA-<%%VALUE(id)%%>" class="electronicInvoice-codCUP_PA"><%%VALUE(codCUP_PA)%%></td>
		<td id="electronicInvoice-codCIG_PA-<%%VALUE(id)%%>" class="electronicInvoice-codCIG_PA"><%%VALUE(codCIG_PA)%%></td>
		<td id="electronicInvoice-RIFERIMENTO_FASE_PA-<%%VALUE(id)%%>" class="electronicInvoice-RIFERIMENTO_FASE_PA"><%%VALUE(RIFERIMENTO_FASE_PA)%%></td>
		<td id="electronicInvoice-NUMERO_DDT_PA-<%%VALUE(id)%%>" class="electronicInvoice-NUMERO_DDT_PA"><%%VALUE(NUMERO_DDT_PA)%%></td>
		<td id="electronicInvoice-dataDDT_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataDDT_PA"><%%VALUE(dataDDT_PA)%%></td>
		<td id="electronicInvoice-rifNumLinea_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifNumLinea_PA"><%%VALUE(rifNumLinea_PA)%%></td>
		<td id="electronicInvoice-ID_PAESE_VET_PA-<%%VALUE(id)%%>" class="electronicInvoice-ID_PAESE_VET_PA"><%%VALUE(ID_PAESE_VET_PA)%%></td>
		<td id="electronicInvoice-idCodVet_PA-<%%VALUE(id)%%>" class="electronicInvoice-idCodVet_PA"><%%VALUE(idCodVet_PA)%%></td>
		<td id="electronicInvoice-codFiscVet_PA-<%%VALUE(id)%%>" class="electronicInvoice-codFiscVet_PA"><%%VALUE(codFiscVet_PA)%%></td>
		<td id="electronicInvoice-DENOMINAZIONE_ANAGR_VETT_PA-<%%VALUE(id)%%>" class="electronicInvoice-DENOMINAZIONE_ANAGR_VETT_PA"><%%VALUE(DENOMINAZIONE_ANAGR_VETT_PA)%%></td>
		<td id="electronicInvoice-nomeVett_PA-<%%VALUE(id)%%>" class="electronicInvoice-nomeVett_PA"><%%VALUE(nomeVett_PA)%%></td>
		<td id="electronicInvoice-cognVett_PA-<%%VALUE(id)%%>" class="electronicInvoice-cognVett_PA"><%%VALUE(cognVett_PA)%%></td>
		<td id="electronicInvoice-titVett_PA-<%%VALUE(id)%%>" class="electronicInvoice-titVett_PA"><%%VALUE(titVett_PA)%%></td>
		<td id="electronicInvoice-codEORI_Vet_PA-<%%VALUE(id)%%>" class="electronicInvoice-codEORI_Vet_PA"><%%VALUE(codEORI_Vet_PA)%%></td>
		<td id="electronicInvoice-nrLicenzaGuidaVet_PA-<%%VALUE(id)%%>" class="electronicInvoice-nrLicenzaGuidaVet_PA"><%%VALUE(nrLicenzaGuidaVet_PA)%%></td>
		<td id="electronicInvoice-mezzoTraspVet_PA-<%%VALUE(id)%%>" class="electronicInvoice-mezzoTraspVet_PA"><%%VALUE(mezzoTraspVet_PA)%%></td>
		<td id="electronicInvoice-causaleTrsVet_PA-<%%VALUE(id)%%>" class="electronicInvoice-causaleTrsVet_PA"><%%VALUE(causaleTrsVet_PA)%%></td>
		<td id="electronicInvoice-nrColliTrasp_PA-<%%VALUE(id)%%>" class="electronicInvoice-nrColliTrasp_PA"><%%VALUE(nrColliTrasp_PA)%%></td>
		<td id="electronicInvoice-descrTrasp_PA-<%%VALUE(id)%%>" class="electronicInvoice-descrTrasp_PA"><%%VALUE(descrTrasp_PA)%%></td>
		<td id="electronicInvoice-unMisPeso_PA-<%%VALUE(id)%%>" class="electronicInvoice-unMisPeso_PA"><%%VALUE(unMisPeso_PA)%%></td>
		<td id="electronicInvoice-pesoLordoMerce_PA-<%%VALUE(id)%%>" class="electronicInvoice-pesoLordoMerce_PA"><%%VALUE(pesoLordoMerce_PA)%%></td>
		<td id="electronicInvoice-pesoNettoMer_PA-<%%VALUE(id)%%>" class="electronicInvoice-pesoNettoMer_PA"><%%VALUE(pesoNettoMer_PA)%%></td>
		<td id="electronicInvoice-dataOraRitMer_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataOraRitMer_PA"><%%VALUE(dataOraRitMer_PA)%%></td>
		<td id="electronicInvoice-dataInTrMer_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataInTrMer_PA"><%%VALUE(dataInTrMer_PA)%%></td>
		<td id="electronicInvoice-tipoResaTr_PA-<%%VALUE(id)%%>" class="electronicInvoice-tipoResaTr_PA"><%%VALUE(tipoResaTr_PA)%%></td>
		<td id="electronicInvoice-INDIRIZZO_RESA_PA-<%%VALUE(id)%%>" class="electronicInvoice-INDIRIZZO_RESA_PA"><%%VALUE(INDIRIZZO_RESA_PA)%%></td>
		<td id="electronicInvoice-nrCivResa_PA-<%%VALUE(id)%%>" class="electronicInvoice-nrCivResa_PA"><%%VALUE(nrCivResa_PA)%%></td>
		<td id="electronicInvoice-capResa_PA-<%%VALUE(id)%%>" class="electronicInvoice-capResa_PA"><%%VALUE(capResa_PA)%%></td>
		<td id="electronicInvoice-comuneResa_PA-<%%VALUE(id)%%>" class="electronicInvoice-comuneResa_PA"><%%VALUE(comuneResa_PA)%%></td>
		<td id="electronicInvoice-prResa_PA-<%%VALUE(id)%%>" class="electronicInvoice-prResa_PA"><%%VALUE(prResa_PA)%%></td>
		<td id="electronicInvoice-nazioneResa_PA-<%%VALUE(id)%%>" class="electronicInvoice-nazioneResa_PA"><%%VALUE(nazioneResa_PA)%%></td>
		<td id="electronicInvoice-dataOraCons_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataOraCons_PA"><%%VALUE(dataOraCons_PA)%%></td>
		<td id="electronicInvoice-normaRif_PA-<%%VALUE(id)%%>" class="electronicInvoice-normaRif_PA"><%%VALUE(normaRif_PA)%%></td>
		<td id="electronicInvoice-NR_FATT_PRINC_PA-<%%VALUE(id)%%>" class="electronicInvoice-NR_FATT_PRINC_PA"><%%VALUE(NR_FATT_PRINC_PA)%%></td>
		<td id="electronicInvoice-dataFattPrin_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataFattPrin_PA"><%%VALUE(dataFattPrin_PA)%%></td>
		<td id="electronicInvoice-NUMERO_LINEA_BENI_SERV_PA-<%%VALUE(id)%%>" class="electronicInvoice-NUMERO_LINEA_BENI_SERV_PA"><%%VALUE(NUMERO_LINEA_BENI_SERV_PA)%%></td>
		<td id="electronicInvoice-tipoCessPrest_PA-<%%VALUE(id)%%>" class="electronicInvoice-tipoCessPrest_PA"><%%VALUE(tipoCessPrest_PA)%%></td>
		<td id="electronicInvoice-CODICE_TIPO_PA-<%%VALUE(id)%%>" class="electronicInvoice-CODICE_TIPO_PA"><%%VALUE(CODICE_TIPO_PA)%%></td>
		<td id="electronicInvoice-codiceVal_PA-<%%VALUE(id)%%>" class="electronicInvoice-codiceVal_PA"><%%VALUE(codiceVal_PA)%%></td>
		<td id="electronicInvoice-descrizioneBene_PA-<%%VALUE(id)%%>" class="electronicInvoice-descrizioneBene_PA"><%%VALUE(descrizioneBene_PA)%%></td>
		<td id="electronicInvoice-quantitaBene_PA-<%%VALUE(id)%%>" class="electronicInvoice-quantitaBene_PA"><%%VALUE(quantitaBene_PA)%%></td>
		<td id="electronicInvoice-uniMisBene_PA-<%%VALUE(id)%%>" class="electronicInvoice-uniMisBene_PA"><%%VALUE(uniMisBene_PA)%%></td>
		<td id="electronicInvoice-dataInPeriodo_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataInPeriodo_PA"><%%VALUE(dataInPeriodo_PA)%%></td>
		<td id="electronicInvoice-dataFinePeriodo_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataFinePeriodo_PA"><%%VALUE(dataFinePeriodo_PA)%%></td>
		<td id="electronicInvoice-prezzoUn_PA-<%%VALUE(id)%%>" class="electronicInvoice-prezzoUn_PA"><%%VALUE(prezzoUn_PA)%%></td>
		<td id="electronicInvoice-TIPO_SCONTO_MAG_PA-<%%VALUE(id)%%>" class="electronicInvoice-TIPO_SCONTO_MAG_PA"><%%VALUE(TIPO_SCONTO_MAG_PA)%%></td>
		<td id="electronicInvoice-perScMagBene_PA-<%%VALUE(id)%%>" class="electronicInvoice-perScMagBene_PA"><%%VALUE(perScMagBene_PA)%%></td>
		<td id="electronicInvoice-impScMagBene_PA-<%%VALUE(id)%%>" class="electronicInvoice-impScMagBene_PA"><%%VALUE(impScMagBene_PA)%%></td>
		<td id="electronicInvoice-prezzoTotaleBene_PA-<%%VALUE(id)%%>" class="electronicInvoice-prezzoTotaleBene_PA"><%%VALUE(prezzoTotaleBene_PA)%%></td>
		<td id="electronicInvoice-aliqIVA_bene_PA-<%%VALUE(id)%%>" class="electronicInvoice-aliqIVA_bene_PA"><%%VALUE(aliqIVA_bene_PA)%%></td>
		<td id="electronicInvoice-ritenuta_bene_PA-<%%VALUE(id)%%>" class="electronicInvoice-ritenuta_bene_PA"><%%VALUE(ritenuta_bene_PA)%%></td>
		<td id="electronicInvoice-naturaRitBene-<%%VALUE(id)%%>" class="electronicInvoice-naturaRitBene"><%%VALUE(naturaRitBene)%%></td>
		<td id="electronicInvoice-rifAmm_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifAmm_PA"><%%VALUE(rifAmm_PA)%%></td>
		<td id="electronicInvoice-TIPO_DATO_ALTRI_DATI_PA-<%%VALUE(id)%%>" class="electronicInvoice-TIPO_DATO_ALTRI_DATI_PA"><%%VALUE(TIPO_DATO_ALTRI_DATI_PA)%%></td>
		<td id="electronicInvoice-rifTesto_altri_dati_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifTesto_altri_dati_PA"><%%VALUE(rifTesto_altri_dati_PA)%%></td>
		<td id="electronicInvoice-rifNum_Altri_dati_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifNum_Altri_dati_PA text-right"><%%VALUE(rifNum_Altri_dati_PA)%%></td>
		<td id="electronicInvoice-rifData_altri_dati_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifData_altri_dati_PA"><%%VALUE(rifData_altri_dati_PA)%%></td>
		<td id="electronicInvoice-AL_IVA_RIEP_PA-<%%VALUE(id)%%>" class="electronicInvoice-AL_IVA_RIEP_PA"><%%VALUE(AL_IVA_RIEP_PA)%%></td>
		<td id="electronicInvoice-naturaRiep_PA-<%%VALUE(id)%%>" class="electronicInvoice-naturaRiep_PA"><%%VALUE(naturaRiep_PA)%%></td>
		<td id="electronicInvoice-speseAcc_Riep_PA-<%%VALUE(id)%%>" class="electronicInvoice-speseAcc_Riep_PA text-right"><%%VALUE(speseAcc_Riep_PA)%%></td>
		<td id="electronicInvoice-arrotRiep_PA-<%%VALUE(id)%%>" class="electronicInvoice-arrotRiep_PA"><%%VALUE(arrotRiep_PA)%%></td>
		<td id="electronicInvoice-imponibileImpRiep_PA-<%%VALUE(id)%%>" class="electronicInvoice-imponibileImpRiep_PA"><%%VALUE(imponibileImpRiep_PA)%%></td>
		<td id="electronicInvoice-impostaRiep_PA-<%%VALUE(id)%%>" class="electronicInvoice-impostaRiep_PA"><%%VALUE(impostaRiep_PA)%%></td>
		<td id="electronicInvoice-esigIVA_riep_PA-<%%VALUE(id)%%>" class="electronicInvoice-esigIVA_riep_PA"><%%VALUE(esigIVA_riep_PA)%%></td>
		<td id="electronicInvoice-rifNormRiep_PA-<%%VALUE(id)%%>" class="electronicInvoice-rifNormRiep_PA"><%%VALUE(rifNormRiep_PA)%%></td>
		<td id="electronicInvoice-DATA_DATI_VEIC_PA-<%%VALUE(id)%%>" class="electronicInvoice-DATA_DATI_VEIC_PA"><%%VALUE(DATA_DATI_VEIC_PA)%%></td>
		<td id="electronicInvoice-totalePercorso_PA-<%%VALUE(id)%%>" class="electronicInvoice-totalePercorso_PA"><%%VALUE(totalePercorso_PA)%%></td>
		<td id="electronicInvoice-BENEFIC_DATI_PAG_PA-<%%VALUE(id)%%>" class="electronicInvoice-BENEFIC_DATI_PAG_PA"><%%VALUE(BENEFIC_DATI_PAG_PA)%%></td>
		<td id="electronicInvoice-modPagam_PA-<%%VALUE(id)%%>" class="electronicInvoice-modPagam_PA"><%%VALUE(modPagam_PA)%%></td>
		<td id="electronicInvoice-dataRifTermPag_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataRifTermPag_PA"><%%VALUE(dataRifTermPag_PA)%%></td>
		<td id="electronicInvoice-giorniTermPag_PA-<%%VALUE(id)%%>" class="electronicInvoice-giorniTermPag_PA"><%%VALUE(giorniTermPag_PA)%%></td>
		<td id="electronicInvoice-dataScadPag_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataScadPag_PA"><%%VALUE(dataScadPag_PA)%%></td>
		<td id="electronicInvoice-imporPag_PA-<%%VALUE(id)%%>" class="electronicInvoice-imporPag_PA"><%%VALUE(imporPag_PA)%%></td>
		<td id="electronicInvoice-codUffPostale_PA-<%%VALUE(id)%%>" class="electronicInvoice-codUffPostale_PA"><%%VALUE(codUffPostale_PA)%%></td>
		<td id="electronicInvoice-cognomeQuietanzante_PA-<%%VALUE(id)%%>" class="electronicInvoice-cognomeQuietanzante_PA"><%%VALUE(cognomeQuietanzante_PA)%%></td>
		<td id="electronicInvoice-nomeQuietanzante_PA-<%%VALUE(id)%%>" class="electronicInvoice-nomeQuietanzante_PA"><%%VALUE(nomeQuietanzante_PA)%%></td>
		<td id="electronicInvoice-CF_Quietanzante_PA-<%%VALUE(id)%%>" class="electronicInvoice-CF_Quietanzante_PA"><%%VALUE(CF_Quietanzante_PA)%%></td>
		<td id="electronicInvoice-titQuietanzante_PA-<%%VALUE(id)%%>" class="electronicInvoice-titQuietanzante_PA"><%%VALUE(titQuietanzante_PA)%%></td>
		<td id="electronicInvoice-IBAN_PA-<%%VALUE(id)%%>" class="electronicInvoice-IBAN_PA"><%%VALUE(IBAN_PA)%%></td>
		<td id="electronicInvoice-ABI_PA-<%%VALUE(id)%%>" class="electronicInvoice-ABI_PA"><%%VALUE(ABI_PA)%%></td>
		<td id="electronicInvoice-CAB_PA-<%%VALUE(id)%%>" class="electronicInvoice-CAB_PA"><%%VALUE(CAB_PA)%%></td>
		<td id="electronicInvoice-BIC_PA-<%%VALUE(id)%%>" class="electronicInvoice-BIC_PA"><%%VALUE(BIC_PA)%%></td>
		<td id="electronicInvoice-scontoPagAntic_PA-<%%VALUE(id)%%>" class="electronicInvoice-scontoPagAntic_PA"><%%VALUE(scontoPagAntic_PA)%%></td>
		<td id="electronicInvoice-dataLimPagAntic_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataLimPagAntic_PA"><%%VALUE(dataLimPagAntic_PA)%%></td>
		<td id="electronicInvoice-penRitarPagam_PA-<%%VALUE(id)%%>" class="electronicInvoice-penRitarPagam_PA"><%%VALUE(penRitarPagam_PA)%%></td>
		<td id="electronicInvoice-dataDecPenale_PA-<%%VALUE(id)%%>" class="electronicInvoice-dataDecPenale_PA"><%%VALUE(dataDecPenale_PA)%%></td>
		<td id="electronicInvoice-codPagamento_PA-<%%VALUE(id)%%>" class="electronicInvoice-codPagamento_PA"><%%VALUE(codPagamento_PA)%%></td>
		<td id="electronicInvoice-ALLEGATI_NOME_ALL_PA-<%%VALUE(id)%%>" class="electronicInvoice-ALLEGATI_NOME_ALL_PA"><%%VALUE(ALLEGATI_NOME_ALL_PA)%%></td>
		<td id="electronicInvoice-algoritmoComp_PA-<%%VALUE(id)%%>" class="electronicInvoice-algoritmoComp_PA"><%%VALUE(algoritmoComp_PA)%%></td>
		<td id="electronicInvoice-formatoAttachement_PA-<%%VALUE(id)%%>" class="electronicInvoice-formatoAttachement_PA"><%%VALUE(formatoAttachement_PA)%%></td>
		<td id="electronicInvoice-descrizioneAttach_PA-<%%VALUE(id)%%>" class="electronicInvoice-descrizioneAttach_PA"><%%VALUE(descrizioneAttach_PA)%%></td>
		<td id="electronicInvoice-attachment_PA-<%%VALUE(id)%%>" class="electronicInvoice-attachment_PA"><%%VALUE(attachment_PA)%%></td>
