<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the firstCashNote_init() hook (in hooks/firstCashNote.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="firstCashNote-kind-<%%VALUE(id)%%>" class="firstCashNote-kind"><%%SELECT%%><%%VALUE(kind)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-order-<%%VALUE(id)%%>" class="firstCashNote-order"><%%SELECT%%><%%VALUE(order)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-operationDate-<%%VALUE(id)%%>" class="firstCashNote-operationDate"><%%SELECT%%><%%VALUE(operationDate)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-company-<%%VALUE(id)%%>" class="firstCashNote-company"><%%SELECT%%><%%VALUE(company)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-customer-<%%VALUE(id)%%>" class="firstCashNote-customer"><%%SELECT%%><%%VALUE(customer)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-documentNumber-<%%VALUE(id)%%>" class="firstCashNote-documentNumber text-right"><%%SELECT%%><%%VALUE(documentNumber)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-causal-<%%VALUE(id)%%>" class="firstCashNote-causal"><%%SELECT%%><%%VALUE(causal)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-importoPag_PA-<%%VALUE(id)%%>" class="firstCashNote-importoPag_PA text-right"><%%SELECT%%><%%VALUE(importoPag_PA)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-outputs-<%%VALUE(id)%%>" class="firstCashNote-outputs text-right"><%%SELECT%%><%%VALUE(outputs)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-balance-<%%VALUE(id)%%>" class="firstCashNote-balance text-right"><%%SELECT%%><%%VALUE(balance)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-istitutoFinanziario_PA-<%%VALUE(id)%%>" class="firstCashNote-istitutoFinanziario_PA"><%%SELECT%%><%%VALUE(istitutoFinanziario_PA)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-note-<%%VALUE(id)%%>" class="firstCashNote-note"><%%SELECT%%><%%VALUE(note)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-paymentDeadLine-<%%VALUE(id)%%>" class="firstCashNote-paymentDeadLine"><%%SELECT%%><%%VALUE(paymentDeadLine)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-payed-<%%VALUE(id)%%>" class="firstCashNote-payed text-right"><%%SELECT%%><%%VALUE(payed)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-datiPag_PA-<%%VALUE(id)%%>" class="firstCashNote-datiPag_PA"><%%SELECT%%><%%VALUE(datiPag_PA)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-modPagam_PA-<%%VALUE(id)%%>" class="firstCashNote-modPagam_PA"><%%SELECT%%><%%VALUE(modPagam_PA)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-dataRifTerPag_PA-<%%VALUE(id)%%>" class="firstCashNote-dataRifTerPag_PA"><%%SELECT%%><%%VALUE(dataRifTerPag_PA)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-giorniTermPag_PA-<%%VALUE(id)%%>" class="firstCashNote-giorniTermPag_PA text-right"><%%SELECT%%><%%VALUE(giorniTermPag_PA)%%><%%ENDSELECT%%></td>
		<td id="firstCashNote-dataScadPag_PA-<%%VALUE(id)%%>" class="firstCashNote-dataScadPag_PA"><%%SELECT%%><%%VALUE(dataScadPag_PA)%%><%%ENDSELECT%%></td>
