<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ordersDetails_init() hook (in hooks/ordersDetails.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ordersDetails-manufactureDate-<%%VALUE(id)%%>" class="ordersDetails-manufactureDate"><%%VALUE(manufactureDate)%%></td>
		<td id="ordersDetails-sellDate-<%%VALUE(id)%%>" class="ordersDetails-sellDate"><%%VALUE(sellDate)%%></td>
		<td id="ordersDetails-productCode-<%%VALUE(id)%%>" class="ordersDetails-productCode"><%%VALUE(productCode)%%></td>
		<td id="ordersDetails-packages-<%%VALUE(id)%%>" class="ordersDetails-packages text-right"><%%VALUE(packages)%%></td>
		<td id="ordersDetails-noSell-<%%VALUE(id)%%>" class="ordersDetails-noSell text-right"><%%VALUE(noSell)%%></td>
		<td id="ordersDetails-quantity_PA-<%%VALUE(id)%%>" class="ordersDetails-quantity_PA text-right"><%%VALUE(quantity_PA)%%></td>
		<td id="ordersDetails-QuantityReal-<%%VALUE(id)%%>" class="ordersDetails-QuantityReal text-right"><%%VALUE(QuantityReal)%%></td>
		<td id="ordersDetails-UMRifPeso_PA-<%%VALUE(id)%%>" class="ordersDetails-UMRifPeso_PA"><%%VALUE(UMRifPeso_PA)%%></td>
		<td id="ordersDetails-prezzoUn_PA-<%%VALUE(id)%%>" class="ordersDetails-prezzoUn_PA text-right"><%%VALUE(prezzoUn_PA)%%></td>
		<td id="ordersDetails-aliquotaIVA_PA-<%%VALUE(id)%%>" class="ordersDetails-aliquotaIVA_PA text-right"><%%VALUE(aliquotaIVA_PA)%%></td>
		<td id="ordersDetails-prezzoTot_PA-<%%VALUE(id)%%>" class="ordersDetails-prezzoTot_PA text-right"><%%VALUE(prezzoTot_PA)%%></td>
		<td id="ordersDetails-tipoScMAg_PA-<%%VALUE(id)%%>" class="ordersDetails-tipoScMAg_PA"><%%VALUE(tipoScMAg_PA)%%></td>
		<td id="ordersDetails-percScontoLinea_PA-<%%VALUE(id)%%>" class="ordersDetails-percScontoLinea_PA text-right"><%%VALUE(percScontoLinea_PA)%%></td>
		<td id="ordersDetails-transaction_type-<%%VALUE(id)%%>" class="ordersDetails-transaction_type"><%%VALUE(transaction_type)%%></td>
		<td id="ordersDetails-averagePrice-<%%VALUE(id)%%>" class="ordersDetails-averagePrice text-right"><%%VALUE(averagePrice)%%></td>
		<td id="ordersDetails-averageWeight-<%%VALUE(id)%%>" class="ordersDetails-averageWeight text-right"><%%VALUE(averageWeight)%%></td>
		<td id="ordersDetails-commission-<%%VALUE(id)%%>" class="ordersDetails-commission text-right"><%%VALUE(commission)%%></td>
		<td id="ordersDetails-return-<%%VALUE(id)%%>" class="ordersDetails-return text-center"><%%VALUE(return)%%></td>
		<td id="ordersDetails-supplierCode-<%%VALUE(id)%%>" class="ordersDetails-supplierCode"><%%VALUE(supplierCode)%%></td>
		<td id="ordersDetails-causTrasp_PA-<%%VALUE(id)%%>" class="ordersDetails-causTrasp_PA"><%%VALUE(causTrasp_PA)%%></td>
		<td id="ordersDetails-nrLinea_PA-<%%VALUE(id)%%>" class="ordersDetails-nrLinea_PA text-right"><%%VALUE(nrLinea_PA)%%></td>
		<td id="ordersDetails-descrizioneArt_PA-<%%VALUE(id)%%>" class="ordersDetails-descrizioneArt_PA"><%%VALUE(descrizioneArt_PA)%%></td>
		<td id="ordersDetails-percentualeScontoMag_PA-<%%VALUE(id)%%>" class="ordersDetails-percentualeScontoMag_PA text-right"><%%VALUE(percentualeScontoMag_PA)%%></td>
		<td id="ordersDetails-importoScontoMag_PA-<%%VALUE(id)%%>" class="ordersDetails-importoScontoMag_PA text-right"><%%VALUE(importoScontoMag_PA)%%></td>
		<td id="ordersDetails-imponibileImp_PA-<%%VALUE(id)%%>" class="ordersDetails-imponibileImp_PA text-right"><%%VALUE(imponibileImp_PA)%%></td>
		<td id="ordersDetails-impostaRiep_PA-<%%VALUE(id)%%>" class="ordersDetails-impostaRiep_PA text-right"><%%VALUE(impostaRiep_PA)%%></td>
		<td id="ordersDetails-LineTotal-<%%VALUE(id)%%>" class="ordersDetails-LineTotal text-right"><%%VALUE(LineTotal)%%></td>
		<td id="ordersDetails-esigibilitaIVA_PA-<%%VALUE(id)%%>" class="ordersDetails-esigibilitaIVA_PA"><%%VALUE(esigibilitaIVA_PA)%%></td>
