<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ordersDetails_init() hook (in hooks/ordersDetails.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ordersDetails-manufactureDate-<%%VALUE(id)%%>" class="ordersDetails-manufactureDate"><%%SELECT%%><%%VALUE(manufactureDate)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-sellDate-<%%VALUE(id)%%>" class="ordersDetails-sellDate"><%%SELECT%%><%%VALUE(sellDate)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-productCode-<%%VALUE(id)%%>" class="ordersDetails-productCode"><%%SELECT%%><%%VALUE(productCode)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-packages-<%%VALUE(id)%%>" class="ordersDetails-packages text-right"><%%SELECT%%><%%VALUE(packages)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-noSell-<%%VALUE(id)%%>" class="ordersDetails-noSell text-right"><%%SELECT%%><%%VALUE(noSell)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-quantity_PA-<%%VALUE(id)%%>" class="ordersDetails-quantity_PA text-right"><%%SELECT%%><%%VALUE(quantity_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-QuantityReal-<%%VALUE(id)%%>" class="ordersDetails-QuantityReal text-right"><%%SELECT%%><%%VALUE(QuantityReal)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-UMRifPeso_PA-<%%VALUE(id)%%>" class="ordersDetails-UMRifPeso_PA"><%%SELECT%%><%%VALUE(UMRifPeso_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-prezzoUn_PA-<%%VALUE(id)%%>" class="ordersDetails-prezzoUn_PA text-right"><%%SELECT%%><%%VALUE(prezzoUn_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-aliquotaIVA_PA-<%%VALUE(id)%%>" class="ordersDetails-aliquotaIVA_PA text-right"><%%SELECT%%><%%VALUE(aliquotaIVA_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-prezzoTot_PA-<%%VALUE(id)%%>" class="ordersDetails-prezzoTot_PA text-right"><%%SELECT%%><%%VALUE(prezzoTot_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-tipoScMAg_PA-<%%VALUE(id)%%>" class="ordersDetails-tipoScMAg_PA"><%%SELECT%%><%%VALUE(tipoScMAg_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-percScontoLinea_PA-<%%VALUE(id)%%>" class="ordersDetails-percScontoLinea_PA text-right"><%%SELECT%%><%%VALUE(percScontoLinea_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-transaction_type-<%%VALUE(id)%%>" class="ordersDetails-transaction_type"><%%SELECT%%><%%VALUE(transaction_type)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-averagePrice-<%%VALUE(id)%%>" class="ordersDetails-averagePrice text-right"><%%SELECT%%><%%VALUE(averagePrice)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-averageWeight-<%%VALUE(id)%%>" class="ordersDetails-averageWeight text-right"><%%SELECT%%><%%VALUE(averageWeight)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-commission-<%%VALUE(id)%%>" class="ordersDetails-commission text-right"><%%SELECT%%><%%VALUE(commission)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-return-<%%VALUE(id)%%>" class="ordersDetails-return text-center"><%%SELECT%%><%%VALUE(return)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-supplierCode-<%%VALUE(id)%%>" class="ordersDetails-supplierCode"><%%SELECT%%><%%VALUE(supplierCode)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-causTrasp_PA-<%%VALUE(id)%%>" class="ordersDetails-causTrasp_PA"><%%SELECT%%><%%VALUE(causTrasp_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-nrLinea_PA-<%%VALUE(id)%%>" class="ordersDetails-nrLinea_PA text-right"><%%SELECT%%><%%VALUE(nrLinea_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-descrizioneArt_PA-<%%VALUE(id)%%>" class="ordersDetails-descrizioneArt_PA"><%%SELECT%%><%%VALUE(descrizioneArt_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-percentualeScontoMag_PA-<%%VALUE(id)%%>" class="ordersDetails-percentualeScontoMag_PA text-right"><%%SELECT%%><%%VALUE(percentualeScontoMag_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-importoScontoMag_PA-<%%VALUE(id)%%>" class="ordersDetails-importoScontoMag_PA text-right"><%%SELECT%%><%%VALUE(importoScontoMag_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-imponibileImp_PA-<%%VALUE(id)%%>" class="ordersDetails-imponibileImp_PA text-right"><%%SELECT%%><%%VALUE(imponibileImp_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-impostaRiep_PA-<%%VALUE(id)%%>" class="ordersDetails-impostaRiep_PA text-right"><%%SELECT%%><%%VALUE(impostaRiep_PA)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-LineTotal-<%%VALUE(id)%%>" class="ordersDetails-LineTotal text-right"><%%SELECT%%><%%VALUE(LineTotal)%%><%%ENDSELECT%%></td>
		<td id="ordersDetails-esigibilitaIVA_PA-<%%VALUE(id)%%>" class="ordersDetails-esigibilitaIVA_PA"><%%SELECT%%><%%VALUE(esigibilitaIVA_PA)%%><%%ENDSELECT%%></td>
