<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the products_init() hook (in hooks/products.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="products-codebar-<%%VALUE(id)%%>" class="products-codebar"><%%VALUE(codebar)%%></td>
		<td id="products-productCode-<%%VALUE(id)%%>" class="products-productCode"><%%VALUE(productCode)%%></td>
		<td id="products-productName-<%%VALUE(id)%%>" class="products-productName"><%%VALUE(productName)%%></td>
		<td id="products-tax-<%%VALUE(id)%%>" class="products-tax"><%%VALUE(tax)%%></td>
		<td id="products-increment-<%%VALUE(id)%%>" class="products-increment text-right"><%%VALUE(increment)%%></td>
		<td id="products-CategoryID-<%%VALUE(id)%%>" class="products-CategoryID"><%%VALUE(CategoryID)%%></td>
		<td id="products-UM-<%%VALUE(id)%%>" class="products-UM"><%%VALUE(UM)%%></td>
		<td id="products-tare-<%%VALUE(id)%%>" class="products-tare text-right"><%%VALUE(tare)%%></td>
		<td id="products-UnitPrice-<%%VALUE(id)%%>" class="products-UnitPrice text-right"><%%VALUE(UnitPrice)%%></td>
		<td id="products-sellPrice-<%%VALUE(id)%%>" class="products-sellPrice text-right"><%%VALUE(sellPrice)%%></td>
		<td id="products-balance-<%%VALUE(id)%%>" class="products-balance text-right"><%%VALUE(balance)%%></td>
		<td id="products-Discontinued-<%%VALUE(id)%%>" class="products-Discontinued text-right"><%%VALUE(Discontinued)%%></td>
		<td id="products-manufactured_date-<%%VALUE(id)%%>" class="products-manufactured_date"><%%VALUE(manufactured_date)%%></td>
		<td id="products-expiry_date-<%%VALUE(id)%%>" class="products-expiry_date"><%%VALUE(expiry_date)%%></td>
		<td id="products-note-<%%VALUE(id)%%>" class="products-note"><%%VALUE(note)%%></td>
		<td id="products-update_date-<%%VALUE(id)%%>" class="products-update_date"><%%VALUE(update_date)%%></td>
