<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the sogg_Terzi_Rapp_PA_init() hook (in hooks/sogg_Terzi_Rapp_PA.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="sogg_Terzi_Rapp_PA-idPaese_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-idPaese_RF_PA"><%%VALUE(idPaese_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-idCodice_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-idCodice_RF_PA"><%%VALUE(idCodice_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codiceFiscale_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codiceFiscale_RF_PA"><%%VALUE(codiceFiscale_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-denominazione_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-denominazione_RF_PA"><%%VALUE(denominazione_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-nome_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-nome_RF_PA"><%%VALUE(nome_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-cognome_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-cognome_RF_PA"><%%VALUE(cognome_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-titolo_RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-titolo_RF_PA"><%%VALUE(titolo_RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codEORI__RF_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codEORI__RF_PA"><%%VALUE(codEORI__RF_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-idPaeseIVA_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-idPaeseIVA_3_Int_PA"><%%VALUE(idPaeseIVA_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-idCodice_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-idCodice_3_Int_PA"><%%VALUE(idCodice_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codFiscale_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codFiscale_3_Int_PA"><%%VALUE(codFiscale_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-denominazione_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-denominazione_3_Int_PA"><%%VALUE(denominazione_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-nome_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-nome_3_Int_PA"><%%VALUE(nome_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-cognome_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-cognome_3_Int_PA"><%%VALUE(cognome_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-titolo_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-titolo_3_Int_PA"><%%VALUE(titolo_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codEORI_3_Int_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codEORI_3_Int_PA"><%%VALUE(codEORI_3_Int_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-sogg_Emittente_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-sogg_Emittente_PA"><%%VALUE(sogg_Emittente_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-rif_num_linea_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-rif_num_linea_PA text-right"><%%VALUE(rif_num_linea_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-idDoc_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-idDoc_PA"><%%VALUE(idDoc_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-data_orAcq_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-data_orAcq_PA"><%%VALUE(data_orAcq_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-numItem_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-numItem_PA"><%%VALUE(numItem_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codCom_Con_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codCom_Con_PA"><%%VALUE(codCom_Con_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codCUP_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codCUP_PA"><%%VALUE(codCUP_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-codGIG_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-codGIG_PA"><%%VALUE(codGIG_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-datiCont_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-datiCont_PA"><%%VALUE(datiCont_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-datiConv_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-datiConv_PA"><%%VALUE(datiConv_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-datiRic_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-datiRic_PA"><%%VALUE(datiRic_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-datiFatCol_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-datiFatCol_PA"><%%VALUE(datiFatCol_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-datiSal_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-datiSal_PA"><%%VALUE(datiSal_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-riferFase_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-riferFase_PA text-right"><%%VALUE(riferFase_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-normaRifer_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-normaRifer_PA"><%%VALUE(normaRifer_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-nrFatturaPrinc_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-nrFatturaPrinc_PA"><%%VALUE(nrFatturaPrinc_PA)%%></td>
		<td id="sogg_Terzi_Rapp_PA-dataFattPrinc_PA-<%%VALUE(id)%%>" class="sogg_Terzi_Rapp_PA-dataFattPrinc_PA"><%%VALUE(dataFattPrinc_PA)%%></td>
