<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the vatRegister_init() hook (in hooks/vatRegister.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="vatRegister-idCompany-<%%VALUE(id)%%>" class="vatRegister-idCompany"><%%SELECT%%><%%VALUE(idCompany)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-companyName-<%%VALUE(id)%%>" class="vatRegister-companyName"><%%SELECT%%><%%VALUE(companyName)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-tax-<%%VALUE(id)%%>" class="vatRegister-tax"><%%SELECT%%><%%VALUE(tax)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-month-<%%VALUE(id)%%>" class="vatRegister-month"><%%SELECT%%><%%VALUE(month)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-year-<%%VALUE(id)%%>" class="vatRegister-year"><%%SELECT%%><%%VALUE(year)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-amount-<%%VALUE(id)%%>" class="vatRegister-amount text-right"><%%SELECT%%><%%VALUE(amount)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-ufficio_Ced_PA-<%%VALUE(id)%%>" class="vatRegister-ufficio_Ced_PA"><%%SELECT%%><%%VALUE(ufficio_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-numeroREA_Ced_PA-<%%VALUE(id)%%>" class="vatRegister-numeroREA_Ced_PA"><%%SELECT%%><%%VALUE(numeroREA_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-capitaleSociale_Ced_PA-<%%VALUE(id)%%>" class="vatRegister-capitaleSociale_Ced_PA text-right"><%%SELECT%%><%%VALUE(capitaleSociale_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-socioUnico_Ced_PA-<%%VALUE(id)%%>" class="vatRegister-socioUnico_Ced_PA"><%%SELECT%%><%%VALUE(socioUnico_Ced_PA)%%><%%ENDSELECT%%></td>
		<td id="vatRegister-statoLiquidazione_Ced_PA-<%%VALUE(id)%%>" class="vatRegister-statoLiquidazione_Ced_PA"><%%SELECT%%><%%VALUE(statoLiquidazione_Ced_PA)%%><%%ENDSELECT%%></td>
